name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v11
        with:
          name: pborzenkov
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: Test
        run: nix -L flake check
