name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@v12
      - uses: cachix/cachix-action@v15
        with:
          name: nix-community
      - name: Setup nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v6
      - name: Setup rust cache
        uses: Swatinem/rust-cache@v2
      - name: cargo fmt
        run: nix develop --command cargo fmt --check
      - name: cargo check
        run: nix develop --command cargo check
      - name: cargo clippy
        run: nix develop --command cargo clippy
      - name: cargo nextest run
        run: nix develop --command cargo nextest run
